@import '../random-integer/random-integer.component.scss';

.form-input {
  input[type="checkbox"] {
    width: unset !important;
    margin-right: 5px;
  }

  label {
    display: flex;
    align-items: center;
  }
}
