h1{
    text-align: center;
    font-size: 3rem;
}

ul{
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    li{
        display: inline;
        padding: 8px 15px;
        font-size: 1.2rem;
        cursor: pointer;
        &:hover, &.active{
            background-color: #aaa;
            text-decoration: underline;
        }
    }
}